body {
    background-color: bisque;
    color:darkslategray;
}

h1{
    text-align:center;
    text-decoration-skip:initial;
    font-size:50px;
    border:5px;
    border-color: dimgray;
    border-radius: 10000px;
    border-style: double;
    border-width: 5px;
    border-left: 30px;
    padding:3px;

}

div {
    background-color: antiquewhite;
    width:fit-content;
    border: 7px;
    border-color: dimgray;
    border-style: double;
    border-radius: 50px;
    padding:70px;
    margin-left: 50px;
    display:inline-block;
    
}

img {
    width: 205px;
    height:205px;
}

a {
   color:darkslategrey;
}